.navbar {
    width: 100%;
    padding: 1rem;
  }
  .navSmall{
    display: none;
  }
  .navBig{
    display: flex;
   } 
  nav ol {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  
  li a {
    text-decoration: none;
  }
  
  li {
    background-image: radial-gradient(circle at 79.88% 114.09%, #d4fff9 0, #c0fff6 10%, #a9fff4 20%, #8efff3 30%, #6dfcf2 40%, #3cf2f2 50%, #00e8f3 60%, #00dff6 70%, #00d6f9 80%, #00cdfe 90%, #00c5ff 100%);
    border-radius: 0.4em;
    padding: 0 0.5rem 0 0.5rem;
  }
  
  li:hover {
    box-shadow: 0px 3px 20px 0px rgb(130, 197, 238);
  }
  
  @media (max-width: 767px){

   li{
    font-size: small;
    padding: 0;
   }
   span{
    font-size: small;
   }
   .navBig{
    display: none;
   } 
   .navSmall{
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
  }
  .navSmall ol{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .contenidoBotonLenguaje{
    width: 50%;
  }

  }
  
